<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="icon" href="./images/weather.png">
	
	<title>Weather</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<h2>This is your weather website</h2>
		<form >
			<input placeholder="Location..">
			<button>Search</button>
		</form>
		<p class='success'></p>
	</div>
	{{>footer}}
	<script src="./js/app.js" type="text/javascript"></script>
</body>

</html>